node_modules
.env
dist
.DS_Store
*.sqlite
client/node_modules
server/node_modules
client/dist
server/dist
.vscode
server/scripts/debug*.js
server/scripts/fix_db_schema.js
server/inspect_db.js
server/logs/
server/public/uploads/
server/uploads/
