PORT=5000
JWT_SECRET=your_jwt_secret_here

# LDAP Configuration (Optional)
LDAP_URL=ldap://localhost
LDAP_BIND_DN=cn=admin,dc=example,dc=org
LDAP_BIND_PASSWORD=admin
LDAP_SEARCH_BASE=dc=example,dc=org

# Production / Deployment
# VITE_API_URL=https://your-domain.com/api
# NODE_ENV=production

# Web Push Notifications
VAPID_PUBLIC_KEY=BHibO5Uci-BBiIfoIJNQM2MKVCcZk_6-9ug6Q9q-Z8rHkIgIjNWpZfaJ8aiE2aDB80kCe5l9WQYtcufVdLCuS0k
VAPID_PRIVATE_KEY=g1HPTMYsz3scfxN2lqsru3Z_qezEA7Bg-UwrGjkUtZM
